.app-header{
  height:100px;
  background-color:black;
  color: white ;
  padding-right:20px;
  top:0%
}

.pos-fixed{
  position:fixed;
  width:100%
}

footer{
  bottom: 0;
  min-height:100px;
  background-color: orange;
}

footer > button {
  font-size: 24px;
  border-style: none;
  padding: 10px;
  font-weight: 800;
  background: transparent;
  cursor: pointer;
}

.flex-div{
  display: flex;
}

.flex-H-space-bw{
  justify-content: space-between;
}

.flex-H-space-center{
  justify-content: center;
}

.flex-H-center-V{
  align-items: center;

}

.m-right{
  margin-right:20px
}

.position-control-div{
  min-width:max-content
}

.display-area{
  min-height:400px; 
  background-color: grey;
  margin-top: 100px;
  
}

#ideal-position{
  display: flex;
  justify-content:center;
  align-items: center;
}


/* toggle positions */

/* #lower-right{
  display: flex;
  justify-content:flex-end;
  align-items:end;
} */

#center{
  position: absolute;
  bottom: 50%;
  right:50%;
  transform: translate(50%,50%);
  margin-bottom: 100px;
}


#lower-right{
  position: absolute;
  bottom: 0%;
  right:0%;
  margin-bottom: 100px;
}


.style-border{
    border-style: solid;
    border-width: 5px;
    border-color: blue;
}